/* styles.css */
.bg{
    background-color: whitesmoke
} 

.dashboard{
    color: #146bc5;
}

.mainClass{
    display: flex;
    justify-content: center;
}

.card {
    width: 20rem;
    height: 30rem;
    margin-top: 1px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 2px 2px black;
    display: flex;
    flex-direction: column;
  }

  .signin-btn{
    border-radius: 30px;
  }

  .fontStyle{
    font-family: Arial, Helvetica, sans-serif;
  }

  .specialStyling{
    background-color: #146bc5;
    color: #ffffff;
    margin-left: 3px;
    padding: 1.5px;
  }
  